<h1 *ngIf="num1 == num2">Hello</h1>


<h1>Template Driven Form</h1>


<form (ngSubmit)="submitTemplateForm()">

    <div>
        <input type="text" name="myName" id="myName" required minlength="5" [(ngModel)]="user.name" #name="ngModel">
        <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <div style="color: red;" *ngIf="name.errors?.required">Name is required</div>
            <div style="color: red;" *ngIf="name.errors?.minlength">Name must be at least 5 characters</div>
        </div>
    </div>
    
    <div>
        <input type="text" name="myCourse" id="myCourse" required [(ngModel)]="user.course" #course="ngModel">
        <div *ngIf="course.dirty || course.touched">
            <div style="color: red;" *ngIf="course.errors?.required">Course is required</div>
        </div>
    </div>

    <div>
        <input type="text" name="myAge" id="myAge" [(ngModel)]="user.age" #age="ngModel">
    </div>

    <div>
        <input type="text" name="myAddress" id="myAddress" [(ngModel)]="user.address" #address="ngModel">
    </div>
    
    <button type="submit">Submit</button>

</form>


<p>=============================================================</p>
<h1>Form Group</h1>
<form [formGroup]="studentForm" (ngSubmit)="submitReactiveForm()">
    <div>
        <input type="text" placeholder="First Name" formControlName="firstName">
    </div>
    <div>
        <input type="text" placeholder="Last Name" formControlName="lastName">
    </div>
    <div formGroupName="contact">
        <h4>Contact Details</h4>
        <div>
            <input type="text" placeholder="Mobile" formControlName="mobile">
        </div>
        <div>
            <input type="text" placeholder="Landline" formControlName="landline">
        </div>
    </div>

    <button type="submit">Submit</button>
</form>



<h1>Simple Form Control</h1>

<input type="text" placeholder="Color" [formControl]="colorControl">
<div *ngIf="colorControl.touched && colorControl.dirty">
    <h6 *ngIf="colorControl.errors?.required" style="color: 'red'">Name is required</h6>
    <h6 *ngIf="colorControl.errors?.minlength" style="color: 'red'">Please enter minimum 2 characters</h6>
    <h6 *ngIf="colorControl.errors?.maxlength" style="color: 'red'">Maximum 5 characters are allowed</h6>
</div>
<button (click)="submitForm()">Submit Reactive Form</button>

<h2>{{colorControl.status}}</h2>

<h1>{{colorControl.value}}</h1>

<button (click)="changeName()">Set value</button>





<!-- 
1. Reactive Form
    [SETUP] - created inside component
    [VALIDATION] - Functions
    SCALABLE


2. Template Driven Form
    [SETUP] - using directive
    [VALIDATION] - directives
    NON-SCALABLE


    FormControl
    FormGroup

-->